body{
    background-color: rgba(25, 23, 23, 0.895);
    position: relative;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1200px;
    height: 500px;
    left: 25px;
    top: -30px;
}
#target{
    background-color: rgb(14, 194, 230);
    width: 30px;
    height: 30px;
    left: 600;
    top:350;
    position: absolute;
    border-radius: 40%;
    
}
#counter{
    background-color: rgb(64, 177, 211);
    width: 140px;
   margin: 30px;
    height: 30px;
    font-size: 30px;
    border-radius: 5px;
    text-align: center;
    
}
#timer{
    position: relative;
     background-color: rgb(64, 177, 211);
    width: 140px;
   top: -60px; 
   left: 200px;
   border-radius: 50%;
    height: 30px;
    font-size: 30px;
    border-radius: 5px;
    text-align: center;}
#start{
    width: 90px;
    font-size: 20px;
    position: absolute;
    top: -2px; ;
    left: 360px;
    border: rgba(255, 255, 255, 0.639) solid 4px;
    border-radius: 6px;
    background-color: rgba(13, 134, 74, 0.79);
    color: aliceblue;
}
#restart{
    width: 90px;
    font-size: 20px;
    position: absolute;
    top: -2px; ;
    left: 470px;
    border: rgba(255, 255, 255, 0.639) solid 4px;
    border-radius: 6px;
    background-color: rgba(203, 161, 23, 0.79);
    color: aliceblue;
}